
#firstTitle {	
	font-family:"Liberation Mono, monospace";
	font-size: 23pt;
	font-weight:bold;
    text-align:center;
    
  	}

p {
    font-family:Arial,Verdana,Calibri;
    font-size:16pt;
    text-indent: 50px;
    text-align: justify;
}

#mainDiv {
    margin-top:85px;
	font-size:15pt;
   font-family: "Verdana",serif,monospace;
   position:relative;
   

}

#TODO {
    font-family : Arial,Verdana,Calibri;
    font-size:15pt;
    margin-left:10px;
    position:relative;
    top:5%;
    left:40%;
    
}


.reference_links {
    position:relative;
    border-width:1.5px;
    border-style:normal;
    font-family : Arial,Verdana,Calibri;
    font-size:15pt;
    margin-left:50px;
    margin-top:20%;
    
}

