
.spanned_topics {
    font-family:Arial,Verdana,Calibri;
    font-size: 18pt;
    font-weight:bold;
    display:block;
    padding-bottom:2%;
    padding-top:2%;
    text-align: center;
    
}
#firstTitle {	
	font-family:"Liberation Mono, monospace";
	font-size: 23pt;
	font-weight:bold;
	position:relative;
	left:33%;
	margin-top:20px;
	margin-bottom:3%;

	}

 
p {
 //  font-family:Arial,Verdana,Calibri;
	font-family: Liberation Mono, monospace;
    font-size:14pt;

//    text-align: justify;

}

.setMargins {
	margin-left:5%;
	margin-right:5%;
}


